name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Test against JDK ${{ matrix.java }} and ${{ matrix.db }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        java: [ 8, 11, 14 ]
        db: [ h2, postgres ]

    services:
      postgres:
        image: postgres:10.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: doma_it
        ports:
          - 127.0.0.1:5432:5432
                
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble
    - name: Connect to h2
      if: matrix.db == 'h2'
      run: ./gradlew check -s
      env:
        ORG_GRADLE_PROJECT_jdbcUrl: ''
        ORG_GRADLE_PROJECT_jdbcUser: ''
        ORG_GRADLE_PROJECT_jdbcPassword: '' 
    - name: Connect to postgres
      if: matrix.db == 'postgres'
      run: ./gradlew check -s
      env:
        ORG_GRADLE_PROJECT_jdbcUrl: jdbc:postgresql://127.0.0.1/doma_it
        ORG_GRADLE_PROJECT_jdbcUser: postgres
        ORG_GRADLE_PROJECT_jdbcPassword: postgres
    - name: Upload failure Archive
      uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: jdk-${{ matrix.java }}-${{ matrix.db }}
        path: build/reports        
