name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      domaVersion:
        description: 'Doma version'
        required: true
        default: ''
jobs:
  build:
    name: JDK ${{ matrix.java }} and ${{ matrix.db }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        java: [ 8, 11, 14 ]
        db: [ h2, postgres, mysql ]

    services:
      postgres:
        image: postgres:10.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: doma_it
        ports:
          - 127.0.0.1:5432:5432
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: doma_it
        ports:
          - 3306

    steps:
    - name: Doma version
      run: echo "domaVersion = ${{ github.event.inputs.domaVersion }}"
    - name: Start the MySQL service
      if: matrix.db == 'mysql'
      run: |
        sudo /etc/init.d/mysql start
        mysql -uroot -h127.0.0.1 -proot -e 'create database doma_it;'
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Create Maven settings-xml
      uses: whelk-io/maven-settings-xml-action@v10
      with:
        repositories: '[{ "id": "github", "url": "https://maven.pkg.github.com/domaframework/doma", "releases": { "enabled": "true" }, "snapshots": { "enabled": "true" } }]'
        servers: '[{ "id": "github", "username": "${ GITHUB_ACTOR }", "password": "${ GITHUB_TOKEN }" }]'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble
      env:
        ORG_GRADLE_PROJECT_domaVersion: ${{ github.event.inputs.domaVersion }}
    - name: Connect to h2
      if: matrix.db == 'h2'
      run: ./gradlew check -s
      env:
        ORG_GRADLE_PROJECT_domaVersion: ${{ github.event.inputs.domaVersion }}
        ORG_GRADLE_PROJECT_jdbcUrl: ''
        ORG_GRADLE_PROJECT_jdbcUser: ''
        ORG_GRADLE_PROJECT_jdbcPassword: '' 
    - name: Connect to postgres
      if: matrix.db == 'postgres'
      run: ./gradlew check -s
      env:
        ORG_GRADLE_PROJECT_domaVersion: ${{ github.event.inputs.domaVersion }}
        ORG_GRADLE_PROJECT_jdbcUrl: jdbc:postgresql://127.0.0.1/doma_it
        ORG_GRADLE_PROJECT_jdbcUser: postgres
        ORG_GRADLE_PROJECT_jdbcPassword: postgres
    - name: Connect to mysql
      if: matrix.db == 'mysql'
      run: ./gradlew check -s
      env:
        ORG_GRADLE_PROJECT_domaVersion: ${{ github.event.inputs.domaVersion }}
        ORG_GRADLE_PROJECT_jdbcUrl: jdbc:mysql://127.0.0.1/doma_it
        ORG_GRADLE_PROJECT_jdbcUser: root
        ORG_GRADLE_PROJECT_jdbcPassword: root
    - name: Upload reports
      uses: actions/upload-artifact@v1
      with:
        name: jdk${{ matrix.java }}-${{ matrix.db }}
        path: build/reports        
